* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(62, 18, 104);
}

.container {
  height: 500px;
  width: 700px;
  background-color: rgb(181, 149, 212);
  margin-left: 380px;
  margin-top: 110px;
  border-radius: 12px;
}

button {
  height: 56px;
  width: 300px;
  color: black;
  font-size: large;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  margin-left: 180px;
  margin-top: 150px;
  cursor: pointer;
}

span {
  display: block;
  height: 80px;
  background-color: blanchedalmond;
  padding: 1rem;
  margin-top: 60px;
}
